body {
    margin: 0;
}

.section1,
.section2,
.section3 {
    padding: 0 150px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    display: flex;
    list-style: none;
}

.header-right {
    display: flex;
    margin-left: auto;
}

.section1 {
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header div {
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.intro {
    display: flex;
    padding: 15px 0;
    gap: 15px;
    justify-content: center;
}

.friend-owned {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-left p {
    color: #E5E7EB;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.intro-left button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border-color: #3882F6;
    padding: 5px;
    border-style: solid;

}

.intro-right {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
    align-items: center;


}

.intro-right img {
    display: flex;
    width: 150px;
    border-radius: 25px;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 25px;
}

.section2 img {
    display: flex;
    width: 100px;
    height: 100px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    margin: 10px;
    justify-content: center;

}

.imgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 {
    display: flex;
    background-color: #E5E7EB;
    padding: 30px 200px;
    justify-content: center;
    flex-direction: column;

}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.scoop {
    margin-left: auto;
    margin-top: 0;
    font-size: 32px;
    font-weight: 900;
}

.section4 {
    display: flex;
    justify-content: center;
    padding: 30px 100px;
}

.blue-section {
    display: flex;
    background-color: #3882F6;
    margin: 50px;
    padding: 40px 80px;
    border-radius: 5px;
    gap: 50px;
    flex: 1 1 0;
}

.blue-left {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.blue-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.blue-words {
    color: #F9FAF8;
}

.blue-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-section button {
    margin-left: auto;
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border-color: #F9FAF8;
    border-style: solid;
    padding: 5px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 25px;
}